<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078425940424-dpu4uik8m4tbosag43nrr577d226pss9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078425940424-dpu4uik8m4tbosag43nrr577d226pss9</string>
	<key>API_KEY</key>
	<string>AIzaSyAA3ueaXTwxI9AcJ6tW5AWSpfUV-Cd3fbI</string>
	<key>GCM_SENDER_ID</key>
	<string>1078425940424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.othmanshahrouri.Whisk</string>
	<key>PROJECT_ID</key>
	<string>whisk-30798</string>
	<key>STORAGE_BUCKET</key>
	<string>whisk-30798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078425940424:ios:1d94db8addc7db698150fd</string>
</dict>
</plist>